<form-movie (searchvalue)="search$$.next($event)" (sort)="sort$$.next($event)"></form-movie>

<div *ngIf="movieList()?.length" class="card-list">
  <div *ngFor="let movie of movieList() ">
    <card-movie [movie]="movie"></card-movie>
  </div>
</div>

<div *ngIf="movieList()?.length" class="pagination-container">
  <button [class]="'pagination-change pagination-decrease ' + (page === 1 ? 'disabled' : '')" [disabled]="page===1" (click)="previousPage()" >&lt;</button>
  <span class="pagination-count"> {{page}} / {{totalPage}} </span>
  <button [class]="'pagination-change pagination-increase ' + (page === totalPage ? 'disabled' : '')" [disabled]="(page === totalPage)" (click)="nextpage()">&gt;</button>
</div>

<div *ngIf="!movieList()?.length">
  <loader></loader>
</div>


<!-- <div
appInfiniteScroll
[debounceTime]="300"
(visible)="onVisible()"
>Loading...</div> -->