<div class="form-component">
  <div class="form-container">
    <form>
        <input type="text" placeholder="Entrez le titre d'un film" [(ngModel)]="search"/>
    </form>
    <div class="btn-sort-container">
        <div class="btn_sort" [className]="'goodToBad '+ (sort() === SORT.GOOD_TO_BAD ? 'active' : '')"
             (click)="sort.set(SORT.GOOD_TO_BAD)">Top <span>&#8594;</span>
        </div>
        <div class="btn_sort" [className]="'badToGood '+ (sort() === SORT.BAD_TO_GOOD ? 'active' : '')"
             (click)="sort.set(SORT.BAD_TO_GOOD)">Flop <span>&#8594;</span>
        </div>
    </div>
  </div>
</div>
