<div class="form-component">
  <div class="form-container">
    <form>
      <input type="text" placeholder="Entrez le titre d'un film" #term (keyup)="searchvalue.emit(term.value)"/>
    </form>
    <div class="btn-sort-container">
      <div class="btn_sort" name="goodToBad" [className]="'goodToBad '+ ((sort | async) === 'goodToBad' ? 'active' : '')" #top (click)="sort.emit(top.getAttribute('name'))">Top <span>&#8594;</span></div>
      <div class="btn_sort" name="badToGood" [className]="'badToGood '+ ((sort | async) === 'badToGood' ? 'active' : '')" #flop (click)="sort.emit(flop.getAttribute('name'))">Flop <span>&#8594;</span></div>
    </div>
  </div>
</div>
